---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404">
    <div class="text-white">
        <h1 class="text-center text-2xl">
            404 error
        </h1>
    </div>
</Layout>