<a href="/" class="bg-gray-800 py-2 px-4 rounded-lg text-slate-300 font-medium
hover:bg-blue-700 hover:text-slate-100 duration-300 ease-in-out
scale-90 hover:scale-105 flex gap-4 items-center justify-center text-center w-[200px]">
    <slot name="before"/>
    <slot />
    <slot name="after"/>
</a>